html,
body {
  height: 100%;
  height: 100%;

}

strong {
  font-weight: bold;
}

#wrap {
  width: 1440px;
  height: 100%;
  margin: 0 auto;
  font-family: Open Sans, sans-serif;
}

header {
  width: 100%;
  height: 100%;
  background-image: url(../images/headerBg.jpg);
  background-position: top;
  background-repeat: no-repeat;
  color: white;
}

nav {
  width: 100%;
  height: 10%;
}

nav a {
  color: white;
  text-decoration: none;
}

.head .navul {
  width: 100%;
  position: relative;
  top: 40%;
  text-align: center;
}

.navul li {
  display: inline-block;
  position: relative;
  margin: 0 2.5vw;
  top: -30px;
  cursor: pointer;
}

#nav_img {
  display: inline-block;
  width: 10%;
  margin: 0 auto;
  top: 0;
  cursor: default;
}

#nav_key {
  width: 100%;
  text-align: center;
  margin: 0 auto;
  position: relative;
  top: 15%;
}

#nav_key img {
  width: 80%;
  height: auto;
}

#keyimg:hover {
  transform: rotate(-45deg);
}

.homeBox {
  position: relative;
  width: 100%;
  height: 75%;
}

.workTime {
  position: absolute;
  left: 3%;
  top: 32%;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  text-align: center;
  writing-mode: vertical-lr;
  transform: rotate(180deg);
}

.resTEXT {
  position: absolute;
  top: 35%;
  width: 100%;
  text-align: center;
}

.mainName {
  font-family: 'Fredericka the Great', sans-serif, cursive;
  position: absolute;
  top: 40%;
  font-size: 80px;
  text-align: center;
  text-transform: uppercase;
  width: 100%;
}

.nameLine {
  position: absolute;
  top: 58%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 10%;
  height: 1%;
  background-color: #E8C300;
  border-radius: 50px;
}

.btnBox {
  text-align: center;
  position: absolute;
  width: 100%;
  top: 65%;
}

.btnBox button {
  all: unset;
  width: 200px;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 9px;
  margin: 0 2%;
  cursor: pointer;
}

.btnBox button:hover {
  background-color: #E8C300;
  transition: all ease 0.3s;
}

.snsBox {
  position: absolute;
  right: 3%;
  top: 35%;
}

.snsBox li {
  width: 50px;
  height: 50px;
  margin-bottom: 40%;
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 50%;
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;
}

.snsBox li:hover {
  background-color: #E8C300;
  transition: all ease 0.3s;
}

.snsBox .facebook {
  background-image: url('../images/facebook.png');
}

.snsBox .twitter {
  background-image: url('../images/twitter.png');
}

.snsBox .insta {
  background-image: url('../images/insta.png');
}

.downBtn {
  background-color: white;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-image: url('../images/downbtn.png');
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: -10%;
}

.contentsBox {
  width: 100%;
  position: relative;
}

.contents {
  position: relative;
  width: 89%;
  height: 70%;
  padding: 5%;
  color: black;
  display: flex;
  align-items: center;
  justify-content: center;
}

.bttbox {
  display: inline;
  top: 2%;
  padding-left:  95%;
  position: fixed;
  z-index: 1;
  visibility: hidden;
}

.btntotop {
  background-color: #E8C300;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-image: url('../images/downbtn.png');
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;
  display: inline-block;
  transform: rotate(180deg);
}

.contents .contentsText {
  width: 45%;
  margin: 4%;
  text-align: center;
}

.desctxt {
  color: rgba(255, 255, 255, 0.9);
}

.contentsTitle {
  text-transform: uppercase;
  font-family: 'Fredericka the Great', sans-serif, cursive;
  font-size: 2em;
}

.contentsLine {
  width: 100px;
  height: 5px;
  background-color: #E8C300;
  margin: 0 auto;
  border-radius: 20px;
  margin-top: 3%;
  margin-bottom: 3%;
}

.contents .contentsImg {
  width: 45%;
  height: 50%;
}

.contentsImg .contentsImage {
  width: 100%;
  height: auto;
}

.contentsImg .imgRect {
  position: absolute;
  top: 23%;
  right: 0.5%;
  width: 25%;
  height: auto;
}

.team {
  width: 100%;
}

.team .contents {
  background-image: url('../images/masterchefBg.jpg');
  background-position: center;
  background-size: cover;
  color: white;
  width: 90%;
}

.toptitle {
  position: absolute;
  height: 13%;
  top: 0;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 95%;
  font-size: 0.7em;
  color: white;
  letter-spacing: 0.5em;
  font-weight: bold;
}

.leftRect {
  left: 0%;
}

.cont-table {
  height: 255px;
}

.book-table {
  position: relative;
  width: 100%;
  height: 170px;
}

.book-table .inputBox {
  width: 90%;
  height: 80%;
  border-style: none;
  background-color: #E5E5E5;
  border-radius: 5px;
  padding-left: 5%;
}

.book-table select {
  width: 95%;
  height: 80%;
  border-style: none;
  background-color: #E5E5E5;
  border-radius: 5px;
  padding-left: 3%;
  color: rgba(51, 51, 51, 0.7);
}

.bookBtn {
  all: unset;
  position: absolute;
  left: 6px;
  width: 98%;
  height: 20%;
  background-color: #E8C300;
  border-radius: 5px;
  cursor: pointer;
  color: white;
}

.booking {
  position: relative;
  width: 100%;
}

.contcontact {
  position: absolute;
  width: 100%;
  text-align: center;
  bottom: 7%;
  color: rgba(51, 51, 51, 0.5);
  font-size: 0.8em;
}

.specialty {
  width: 90%;
  height: 70%;
  padding: 5%;
  background-image: url('../images/masterchefBg.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}

.slidebox {
  width: 100%;
  height: 100%;
}

.slider {
  list-style: none;
  text-align: center;
}

.slider li {
  position: absolute;
  left: 0;
  top: 13%;
}

.slideImg .slideImage {
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40%;
  float: left;
  margin-left: 6.3%;
}

.slider li .slimgRect {
  position: absolute;
  top: 17%;
  width: 25%;
  height: auto;
}

.slider li .slideText {
  float: right;
  width: 40%;
  margin-top: 10vw;
  margin-right: 10%;
  text-align: center;
  color: white;
}

.sldbtn {
  width: 90%;
  height: 15px;
  position: absolute;
  bottom: 5%;
  text-align: center;
}

.sldbtn li {
  display: inline-block;
  background-color: rgba(255, 255, 255, 0.5);
  width: 15px;
  height: 15px;
  border-radius: 50%;
  text-indent: -99999%;
  margin: 0 1%;
  cursor: pointer;
}

.slttitle {
  width: 90%;
}

.sldbtn li:hover {
  background-color: white;
  transition: all ease 0.3s;
}

#rdo1 {
  background-color: white;
}

#tiramisu {
  display: none;
}

#eggtart {
  display: none;
}

.slidebox .contents {
  padding: 2%;
}

#dummy {
  opacity: 0;
}

.menu {
  width: 100%;
  height: 100%;
}

.menucontents {
  padding: 5%;
  text-align: center;
  margin: 2% 0;
}

.menuText {
  width: 50%;
  display: inline-block;
  line-height: 1.5em;
}

.menutitle {
  width: 100%;
  height: auto;
}

.menutitle ul {
  display: inline-block;
}

.menutitle ul li {
  float: left;
  padding: 2% 2vw;
  margin: 3% 0;
  border-right: 1px solid rgba(51, 51, 51, 0.2);
  text-transform: uppercase;
  font-size: 0.8em;
  cursor: pointer;
}

.menutitle ul li:hover {
  background-color: #E8C300;
  transition: all ease 0.3s;
}

.menutitle ul li:first-child {
  background-color: #E8C300;
}

.menutitle ul li:last-child {
  border-right: 0;
}

.menulist {
  width: 100%;
  position: relative;
}

.menulist table {
  width: 100%;
  border-collapse: separate;
  border-spacing: 5px 30px;
  position: absolute;
  top: 0;
}

.menuprice {
  display: inline;
  font-weight: 900;
}

.menudesc {
  font-size: 0.8em;
}

#menudummy {
  position: relative;
  opacity: 0;
}

.events {
  width: 100%;
}

.events .contents {
  background-image: url('../images/eventbg.png');
  background-position: center;
  background-size: cover;
  color: white;
  width: 90%;
}

.events .contcontact {
  color: rgba(255, 255, 255, 0.5);
}

#eventimgbox {
  display: flex;
  justify-content: space-around;
  width: 100%;
  flex-direction: row;
  padding: 1%;
}

.eventimgl {
  position: relative;
}

.eventimgr {
  position: relative;
}

.evttitle {
  background-color: black;
  position: absolute;
  width: 18%;
  height: 83.2%;
  top: 8.3%;
  font-family: 'Fredericka the Great', sans-serif, cursive;
  font-size: 1.8em;
}

#evttitle1 {
  right: 8.5%;
  writing-mode: vertical-lr;
  transform: rotate(360deg);
}

#evttitle1 span {
  display: block;
  width: auto;
  margin-bottom: 60%;
  margin-left: 9%;
  text-align: center;
}


#evttitle2 {
  left: 8.5%;
  writing-mode: vertical-lr;
  transform: rotate(180deg);
}

#evttitle2 span {
  display: block;
  width: auto;
  height: auto;
  margin-bottom: 20%;
  margin-left: 9%;
  text-align: center;
}

.events .imgRect {
  top: 23%;
  right: 0.5%;
  width: 55%;
  height: auto;
}

.events .rect1 {
  left: -13%;
}

.events .rect2 {
  right: -10%;
}

.gallery {
  width: 100%;
}

.gallery .gallery-box {
  display: flex;
}

.gallery-box img {
  width: 25%;
  cursor: pointer;
}

.contact {
  width: 100%;
  height: 100%;
}

.contact .contents {
  position: relative;
}


.contact .contentsText {
  width: 100%;
  height: 400px;
  margin: 0;
}

#contact-text {
  width: 50%;
  margin: 0 auto;
}

.contact-table {
  width: 100%;
  height: 72%;
}

.contact-table table {
  width: 100%;
  height: 200px;
  border-collapse: separate;
  border-spacing: 20px;
}

.contact-table td {
  height: 50px;
}

.contact-table .cont-input {
  height: 50px;
  width: 92%;
  background-color: #E5E5E5;
  border-style: none;
  border-radius: 5px;
  padding-left: 7%;
}

#cont-msg {
  width: 96%;
  height: 200%;
  resize: none;
  background-color: #E5E5E5;
  border-style: none;
  border-radius: 5px;
  font-size: 1em;
  font-family: Open Sans, sans-serif;
  padding: 2%;
}

textarea::placeholder {
  color: rgba(51, 51, 51, 0.8);
  font-size: 1em;
  font-family: Open Sans, sans-serif;
}

.cont-info {
  width: 100%;
  height: 55px;
  display: inline-block;
  margin-bottom: 10%;
}

.cont-info ul {
  width: 100%;
  height: 55px;
  display: inline-block;
}

.cont-info ul li {
  display: inline-block;
  width: 50%;
  vertical-align: middle;
}

.cont-info #cont-addli {
  font-size: 0.7em;
  color: rgba(51, 51, 51, 0.8);
}

.cont-info li p {
  display: inline-block;
  margin-right: 2%;
}

.cont-img {
  display: inline-block;
  width: 15px;
  height: 15px;
  background-image: url(../images/contact.png);
}

#locimg {
  width: 12px;
}

#celimg {
  background-position: 30px 0;
}

#mailimg {
  background-position: 15px 0;
}

#cont-btnli {
  display: inline-block;
  width: 46%;
}

#sendbtn {
  background-color: #E8C300;
  display: inline-block;
  width: 100%;
  height: 55px;
  line-height: 55px;
  border-radius: 5px;
  cursor: pointer;
  color: white;
}

#sendbtn p {
  margin: 0 auto;
}

.map {
  display: inline-block;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  margin-top: 5%;
}

footer {
  width: 100%;
  height: 100px;
  background-color: rgba(0, 0, 0, 0.9);
  color: rgba(255, 255, 255, 0.5);
  text-align: center;
  line-height: 100px;
}

footer p {
  display: inline-block;
  margin: 0 auto;
}







@media (max-width: 1980px) {
  header {
    width: 100%;
    height: 80%;
  }
}

@media (max-width: 1450px) {

  header {
    height: 100%;
  }

  #wrap {
    width: 100%;
  }

  .nameLine {
    top: 62%;
  }

  .btnBox {
    top: 70%;
  }

}

@media (max-width: 1100px) {

  #wrap {
    width: 100%;
  }

  .navul li {
    margin: 0 2vw;
  }

  .nameLine {
    top: 62%;
  }

  .btnBox {
    top: 70%;
  }

  .slider li .slideText {
    margin-top: 5vw;
    margin-right: 8vh;

  }

  .evttitle {
    font-size: 1.3em;
  }
  
  .bttbox {
  padding-left: 94%;

}




}

@media (max-width: 780px) {

  #wrap {
    width: 100%;
  }

  nav {
    display: none;
  }

  .workTime {
    position: absolute;
    width: 100%;
    top: 5%;
    left: 0;
    writing-mode: unset;
    transform: unset;
  }

  .resTEXT {
    position: absolute;
    top: 35%;
    width: 100%;
    text-align: center;
  }

  .mainName {
    top: 40%;
    font-size: 60px;
    width: 60%;
    left: 50%;
    transform: translateX(-50%);
  }

  .nameLine {
    top: 67%;
    width: 20%;
    margin: 2% 0;
  }

  .btnBox {
    top: 74%;
  }

  .snsBox {
    position: absolute;
    width: 116px;
    height: 50px;
    top: 100%;
    ;
    left: 50%;
    transform: translateX(-50%);
  }

  .snsBox li {
    float: left;
    width: 30px;
    height: 30px;
    border-radius: 50%;
  }

  .snsBox li:nth-child(2) {
    margin: 0 10px;
  }

  .downBtn {
    bottom: -25%;
  }
  
  .bttbox {
  padding-left: 92%;
}

  .contents {
    position: relative;
    width: 89%;
    height: 70%;
    padding: 5%;
    color: black;
    display: block;
    align-items: center;
    justify-content: center;
  }

  .contents .contentsText {
    width: 92%;
    margin: 4%;
    text-align: center;
  }

  .contents .contentsImg {
    width: 70%;
    height: 50%;
    margin: 0 auto;
  }

  .team .contentsImg {
    margin-top: 10%;
  }

  .contentsImg .imgRect {
    display: none;
  }

  .contcontact {
    display: none;
  }

  #dummy {
    width: 96%;
    height: 100%;
  }

  .slttitle {
    height: 10%
  }

  .slider li {
    top: 7%;
  }

  .slideImg .slideImage {
    float: none;
    overflow: hidden;
    display: block;
    width: 70%;
    margin: 0 auto;
  }

  .slider li .slimgRect {
    display: none;
  }

  .slider li .slideText,
  #dummy .desctxt {
    width: 92%;
    margin: 4%;
    text-align: center;
    color: white;
    margin-bottom: 30%
  }

  .menuText {
    width: 100%;
    margin-top: 4%;
  }

  #menudesc {
    display: inline-block;
    width: 100%;
    ;
    margin: 0 auto;
    margin-bottom: 3%;
  }

  .contentsLine {
    margin: 5% auto;
  }

  


  #contact-text {
    width: 100%;
    margin: 5% 0;
  }

  #cont-addli {
    display: none;
  }

  .contact-table {
    height: 55%;
  }

  .contact-table table {
    height: 0px;
    border-spacing: 10px;
  }

  .contact-table td {
    height: 50px;
  }

  .contact-table .cont-input {
    height: 40px;
  }

  #cont-btnli {
    width: 95%;
  }
  
  .evttitle {
    font-size: 1em;
}

}

@media (max-width: 414px) {
    .menutitle ul {
    width: 75%;
    text-align: center;
  }

  .menutitle ul li {
    display: inline-block;
    margin-right: 4%;
  }

  .menutitle ul li:nth-child(4) {
    margin-right: 0;
  }

  .menutitle ul li:nth-child(7) {
    margin-right: 0;
  }

  .menutitle ul li:nth-child(5) {
    margin-left: 10vw;
  }
  
  .bttbox {
    padding-left: 88%;
}
  
  .evttitle {
    font-size: 0.6em;
}

  .gallery {
    display: inline-block;
    position: relative;
    width: 100%;
    overflow: hidden;
  }
  
  .gallery .gallery-box {
    position: relative;
    width: 500%;
}

  .gallery-box img {
    display: inline-block;
    width: 100vw;
  }
}
